$color-white: #fff;
$color-primary: #2d3095;
$color-secondary: #ffbf00;
$color-grey-light: #ededed;
$margin-vertical-small: 2rem 0;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: "Open Sans";
    width: 80%;
    margin: 100px auto;
}

body {
    box-sizing: border-box;
}

.idc-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

.avaliacao-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: left;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    + * {
        margin-top: 0;
    }
}

.avaliacao-paragraph {
    line-height: 1.5;
    margin: 0;

    &--quote {
        width: 70%;
        align-self: flex-end;
        margin: $margin-vertical-small;
    }

    &--highlight {
        color: $color-primary;
    }
}

.highlight-box {
    padding: 2rem;
    border-radius: 2rem;
    margin: $margin-vertical-small;

    &--yellow {
        color: $color-primary;
        background-color: $color-secondary;
    }

    &--blue {
        color: $color-white;
        background-color: $color-primary;
    }

    &--grey {
        background-color: $color-grey-light;
    }

    .avaliacao-list {
        padding: 2rem;
        margin: 0;
    }
}

.avaliacao-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: $margin-vertical-small;
    margin-left: 2rem;
}

.avaliacao-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.avaliacao-topic {
    margin-top: 3px;
    color: $color-primary;
    flex-shrink: 0;
}

.avaliacao-img {
    margin: $margin-vertical-small;
    border-radius: 2rem;
}

@media (max-width: 580px) {
    .avaliacao-title {
        font-size: 1.5rem;
    }

    .avaliacao-paragraph--quote {
        font-style: italic;
        width: 100%;
    }

    .highlight-box,
    .avaliacao-img {
        border-radius: 1rem;
    }

    .highlight-box,
    .highlight-box .avaliacao-list {
        padding: 1rem;
    }
}
